.header {
    position: relative;
    z-index: 10;
    padding: 30px 0;
    &--section {
        padding: 42px 0 30px;
    }
    &--white {
        background: $white-color;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &__item + &__item {
        &::before {
            content: '·';
            padding: 0 3px 0 6px;
            font-size: 12px;
            font-weight: 600;
            line-height: 1;
            vertical-align: middle;
            color: rgba($primary-color, 0.4);
        }
    }
    &__link {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
        color: rgba($primary-color, 0.4);
        background: $white-color;
        border-radius: 100px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__group {
        display: flex;
        align-items: center;
        margin-left: 35px;
    }
    &__language + &__hamburger {
        margin-left: 35px;
    }
    &__title {
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
}

.hamburger {
    display: block;
    padding: 0;
    font-size: 0;
    background: transparent;
    border: 0;
    &:focus {
        outline: none;
    }
    &:hover,
    &:focus-visible {
        .hamburger__icon {
            color: $gold-color;
        }
    }
    &__icon {
        width: 49px;
        height: 25px;
        color: $primary-color;
    }
}