.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: rgba($primary-color, 0.05);
    border-radius: 100px;
    &__item {
        &--active {
            .pagination__link {
                opacity: 0.4;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    &__link {
        padding: 10px 22px;
        font-size: 17px;
        font-weight: 600;
    }
}